@using ExpenseApprovalSystem.Client.Services
@inherits LayoutComponentBase
@inject AuthStateService AuthState
@inject NavigationManager Nav
<NavMenu />
<div class="page">
    <main>
        @Body
    </main>
</div>
